body{margin-top:20px;}
.widget .panel, .widget.panel {
  overflow: hidden;
}

.widget {
  margin-bottom: 20px;
  border: 0;
}

.bg-danger {
  background-color: #f05050;
  color: #fff!important;
}

.bg-info {
  background-color: #23b7e5;
  color: #fff!important;
}

.bg-primary {
  background-color: #5d9cec;
  color: #fff!important;
}
.turno-card {
  border-radius: 16px;
  color: #fff;
  text-shadow: #000;
  background: linear-gradient(
      90deg,
      rgb(155, 42, 42) 0%,
      rgb(199, 130, 87) 50%,
      rgb(237, 188, 83) 100%
    ); 
  transition: all 0.2s ease;
  min-width: 50vw;
}

.turno-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}
