<app-header></app-header>

<div class="main-container d-flex flex-column justify-content-between align-items-center text-center">

  <!-- Contenido principal -->
  <div class="content-wrapper d-flex flex-column justify-content-center align-items-center flex-grow-1">

    <div class="pagination-controls mb-3 d-flex align-items-center gap-3">

      <!-- Botón anterior -->
      <button class="carousel-control-prev" (click)="prevPage()">
        <span class="carousel-control-prev-icon"></span>
      </button>

      <!-- Cards -->
      <div class="cards-wrapper row justify-content-center g-4 mx-3">
        @for (t of listaPaginada; track t.id) {
          <div class="col-flex p-4">
            <div class="card turno-card text-center shadow-sm p-3">

              <h5 class="fw-bold mb-2">Turno N°: {{ t.id }}</h5>

              <p class="m-0"><strong>Fecha:</strong> {{ t.fecha | fechaHorario}}</p>
              <p class="m-0"><strong>Especialidad:</strong> {{ t.nombreEspecialidad | titlecase}}</p>
              <p class="m-0"><strong>Empleado:</strong> {{ t.nombreEmpleado | titlecase}}</p>

              @if (t.paciente) {
                <p class="m-0"><strong>Paciente:</strong> {{ t.nombrePaciente | titlecase}}</p>
              }

              <p class="m-0"><strong>Duración:</strong> {{ t.duracion }} minutos</p>

              @if (t.estado) {
                <p class="m-0 text-primary-emphasis"><strong>Estado:</strong> {{ t.estado | titlecase}}</p>
              }

            </div>
          </div>
        }
      </div>

      <!-- Botón siguiente -->
      <button class="carousel-control-next" (click)="nextPage()">
        <span class="carousel-control-next-icon"></span>
      </button>

    </div>

    <!-- Indicador de página -->
    <div class="page-indicator mb-3">
      <span>Página {{ pagina() }} / {{ paginasTotales() }}</span>
    </div>

  </div>

</div>
