/* Carrusel a pantalla completa */
*{
 text-shadow:
    3px 3px 6px rgba(0, 0, 0, 0.8),
    -1px -1px 2px rgba(255, 255, 255, 0.3);
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.carousel,
.carousel-item {
  height: 100vh;
}

.carousel-caption {
  z-index: 10;
}

/* Fondos */
.carousel .bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg1 {
  background-image: url('../../../../public/assets/img/img\ clinica\ 1.jpg');
}

.bg2 {
  background-image: url('../../../../public/assets/img/clinica\ img\ 2.jpg');
}

.bg3 {
  background-image: url('../../../../public/assets/img/img\ clinica\ 3.jpg');
}

::ng-deep .dialog-turno .mat-dialog-container {
  background: transparent; /* para que respete el fondo de tu componente */
  padding: 0;              /* quita el padding del contenedor */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  height: 100%;
  border-radius: 20px;
}