/* Carrusel a pantalla completa */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.carousel,
.carousel-item {
  height: 100vh;
}

.carousel-caption {
  z-index: 10;
}

/* Fondos */
.carousel .bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg1 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg');
}

.bg2 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg');
}

.bg3 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg');
}
