.encuesta-container,
.gracias-container {
  height: 100%;
  min-height: 100vw;
  background-color: #444;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 0rem auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
}

h2 {
  color: #ff5252;
  margin-bottom: 1rem;
}

p {
  color: #ddd;
}

.opciones {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 1.5rem 0;

  label {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    background: #333;
    padding: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #555;
    }

    input[type='radio'] {
      accent-color: #ff5252;
      transform: scale(1.3);
    }
  }
}

.btn-enviar {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;

  &:hover:not(:disabled) {
    background-color: #ff6b6b;
  }

  &:disabled {
    background-color: #777;
    cursor: not-allowed;
  }
}
