.carousel-container {
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 280px;
  margin: auto;
  border-radius: 12px;
}

.carousel-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%; /* ya no forzamos un ancho total fijo */
}

.card {
  flex: 0 0 100%; /* cada card ocupa exactamente el 100% del contenedor */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(to right, #1F1A36, #2A2A50);
  padding: 10px;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  background-color: #1F1A36;
  filter: brightness(0.9);
  transition: transform 0.3s ease, filter 0.3s ease;
  display: block;
}

.card img:hover {
  filter: brightness(1);
  transform: scale(1.03);
}

.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;             
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(155, 42, 42) 0%,
    rgb(199, 130, 87) 50%,
    rgb(237, 188, 83) 100%
  );
  border: none;
  color: #fff;
  font-size: 2.5rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.btn-prev:hover,
.btn-next:hover {
  opacity: 0.8;
}

.btn-prev { left: 5px; }
.btn-next { right: 5px; }