<div class="turno-wrapper">
  <form [formGroup]="form" class="turno-form">
    
    <h3 class="Reserv text-center mb-4">Reservar turno</h3>
  @if(isNuevo){
    <!-- Especialidad -->
    <div class="mb-3">
      <label class="form-label">Especialidad</label>
      <input
        type="text"
        class="input form-control bg-secondary text-light border-0"
        placeholder="Especialidad"
        formControlName="especialidad"
        [matAutocomplete]="autoEspecialidad"
        autocomplete="off">
      <mat-autocomplete #autoEspecialidad="matAutocomplete" [displayWith]="displayEspecialidad">
        @for (esp of listaEspecialidad(); track esp) {
          <mat-option [value]="esp">{{ esp | titlecase }}</mat-option>
        }
      </mat-autocomplete>
    </div>
    
    @if(especialidadSeleccionada()){
      <!-- Empleado -->
      <div class="mb-3">
        @if (empleadosFiltrados().length) {
          <label class="form-label">Especialista</label>
          <input
            type="text"
            aria-label="Empleado"
            placeholder="Seleccione un especialista"
            class="input form-control bg-secondary text-light border-0"
            formControlName="empleado"
            [matAutocomplete]="autoEmpleado"
            autocomplete="on">
          <mat-autocomplete #autoEmpleado="matAutocomplete" [displayWith]="displayEmpleado">
            @for (emp of empleadosFiltrados(); track emp.id) {
              <mat-option [value]="emp">{{ emp.empleado | titlecase }}</mat-option>
            }
          </mat-autocomplete>
        }
      </div>
    }
    @if(empleadoSeleccionado()){

     @if(isTurnoSeleccionado()){
        <!-- Stepper -->
        <div class="stepper-wrapper">
          <mat-vertical-stepper>

        <mat-step label="Día">
          <app-diasamana-selector-radios
            (cambios)="actualizarDiasSegunSemana($event)"
            
          ></app-diasamana-selector-radios>

            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button matStepperNext>Siguiente</button>
        </mat-step>

          <mat-step label="Día disponible">


        @if (listaFechas(); as fechas) {
          <div class="dias-grid">
            @for (fecha of fechas; track fecha.getTime()) {
              <button
                class="dia-btn"
                [class.seleccionado]="reunion().dia?.getTime() === fecha.getTime()"
                (click)="actualizarReunion('dia', fecha)"
              >
                {{ fecha | fechaFormato }}
              </button>
            }
          </div>
        } @else {
          <p>No hay días disponibles.</p>
        }

        <div class="stepper-actions">
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext [disabled]="!reunion().dia?.getTime()">Siguiente</button>
        </div>
      </mat-step>
        <mat-step label="Hora">
        @if (listaHorarios().length > 0) {
          <div class="horarios-list">

            <mat-divider>Mañana</mat-divider>
            @for (hora of listaHorarios(); track hora) {
              @if (hora.getHours() < 12) {
                <button
                  class="hora-btn"
                  (click)="actualizarReunion('hora', hora.toTimeString().slice(0,5))"
                  [class.selected]="hora.toTimeString().slice(0,5) === reunion().hora"
                >
                  {{ hora | date:'HH:mm' }}
                </button>
              }
            }

            <mat-divider>Tarde</mat-divider>
            @for (hora of listaHorarios(); track hora) {
              @if (hora.getHours() >= 12) {
                <button
                  class="hora-btn"
                  (click)="actualizarReunion('hora', hora.toTimeString().slice(0,5))"
                  [class.selected]="hora.toTimeString().slice(0,5) === reunion().hora"
                >
                  {{ hora | date:'HH:mm' }}
                </button>
              }
            }

          </div>
          } @else {
            <p>No hay horarios disponibles para este día.</p>
          }

          <div class="stepper-actions">
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button matStepperNext (click)="modificarStepper()">Siguiente</button>
          </div>
        </mat-step>

          </mat-vertical-stepper>
        </div>
      } @else{
      <p>¡Turno seleccionado!</p>
      <button class="Btn" (click)="modificarStepper()">Modificar turno</button>
      }
    } 
  }   @else {
    <app-turno-input
      [fecha]="fechaTurno()"
      (fechaCambio)="actualizarTurno($event)"
    ></app-turno-input>
      
  }
  <div class="d-grid mt-3">
      <button type="submit" (click)="confirmar()" class="Btn">Confirmar turno</button>
    </div>
  </form>
</div>
